/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

prefwindow {
  padding: 0px;
}

prefpane {
  padding: 8px;
}

prefwindow[type="child"] {
  padding: 8px;
}

prefwindow[type="child"] > prefpane {
  padding: 0px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 8px;
  -moz-padding-start: 8px;
  -moz-padding-end: 8px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0px;
}

radio[pane=paneMain] {
border-top-left-radius:3px!important;
border-bottom-left-radius:3px!important;
}
radio[pane=paneAdvanced] {
border-top-right-radius:3px!important;
border-bottom-right-radius:3px!important;
}
radio[pane] {
height:23px!important;
  -moz-appearance: none;
  background-image:linear-gradient(to top, rgba(226,226,226,1), rgba(251,251,251,1));
border:1px solid #a5a5a5 !important;
border-top-color: #ababab !important;
border-bottom-color:#a0a0a0 !important;
box-shadow: 0 1px 0 rgba(150,150,150,.35)!important;
  min-width: 4.5em;
  margin: 0;
margin-left:-1px;
  padding: 3px;
  color: -moz-FieldText;
  text-shadow: 0 1px 0 rgba(255,255,255,.45);
}

.paneSelector {
  -moz-appearance: none;
  margin: 8px 10px 20px 11px;
  padding: 0;
}

.paneButtonIcon {
display:none;
  width: 32px;
  height: 32px;
}

radio[pane][selected="true"] {
border:1px solid #8a8a8a !important;
border-top-color: #7d7d7d !important;
border-bottom-color:#969696 !important;
  background-image:linear-gradient(to top, rgba(209,209,209,1), rgba(193,193,193,1));
box-shadow: 0 1px 0 rgba(255,255,255,.25), 0px 0px 0px 1px rgba(150,150,150,.25) inset!important;
  text-shadow: 0 1px 0 rgba(255,255,255,.45);
}
